@import 'https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Open+Sans:300,600';
.tsn .sli-widget .sli-button,
.education-pro-green .button {
    font-weight: bold;
    padding: 10px 20px;
    background-color: #45b348;
    color: #fff;
}
.tsn .sli-widget .sli-button:hover,
.education-pro-green .button:hover {
    background-color: #67c469;
    color: #fff;
}
.education-pro-green .content .entry-content hr.wp-block-separator {
    padding: 0;
    border: 1px solid #a6d38a;
}
.education-pro-green .content entry-header .entry-meta .entry-time {
    background-color: #7ea63e;
    font-weight: bold;
}
.education-pro-green .site-header {
    border-color: #7ea63e;
    background-color: #f3f8eb;
    padding-top: 2px;
}
.education-pro-green .site-header .title-area {
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0) !important;
    width: 200px;
}
.education-pro-green .site-header .title-area a {
    min-height: 62px;
    background-size: contain !important;
    background-position: center top !important;
}
.education-pro-green .home-featured .widget.genesis_responsive_slider {
    background-color: #f3f8eb;
}
.education-pro-green .home-featured #genesis-responsive-slider .more-link:hover {
    background-color: #7ea63e;
}
.education-pro-green .home-featured .more-link {
    color: #7ea63e;
}
.education-pro-green .sidebar .widget {
    border-color: #7ea63e;
}
.education-pro-green .sidebar .widget .widget-title {
    color: #7ea63e;
}
.tsn {
    background: #f6faf3;
}
.tsn .site-header {
    min-height: auto;
}
.tsn .site-header .header-widget-area {
    display: flex;
}
@media only screen and (max-width: 1023px) {
    .tsn .site-header .header-widget-area {
        justify-content: center;
        flex-direction: column-reverse;
    }
}
@media only screen and (min-width: 1023px) {
    .tsn .site-header .header-widget-area {
        width: auto;
        flex-direction: row;
    }
}
.tsn .site-header .nav-primary {
    background-color: inherit;
}
@media only screen and (max-width: 768px) {
    .tsn .site-header .nav-primary {
        color: #444;
    }
}
