@import 'https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Open+Sans:300,600';
@import 'https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap';
.tsn {
    background: #f6faf3;
    font-family: 'Open Sans', sans-serif;
}
.tsn a:not(.button):hover {
    color: #7ea63e;
}
.tsn .nav-primary {
    background: #f6faf3;
}
.tsn .nav-primary .menu .menu-item a {
    color: #1e3b2c;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: normal;
    text-transform: none;
    padding: 30px 10px;
}
.tsn .nav-primary .menu .menu-item .sub-menu a {
    background-color: #b1d999;
}
.tsn .nav-primary .menu .menu-item .sub-menu a:hover {
    background-color: #95cb74;
}
.tsn .nav-primary .menu .menu-item .sub-menu::before,
.tsn .nav-primary .menu .menu-item .sub-menu::after {
    border-bottom-color: #b1d999;
}
.tsn .nav-primary .menu .current-menu-ancestor,
.tsn .nav-primary .menu .current-menu-item {
    background-color: #a6d38a;
}
.tsn .nav-primary .menu .current-menu-ancestor .current-menu-item > a {
    background-color: #95cb74;
}
.tsn .nav-primary .menu .small-site-title {
    background-color: #7ea63e;
}
.tsn .nav-primary .menu .small-site-title a {
    font-family: 'Lato', sans-serif;
}
